# packages in environment at /opt/miniconda3/envs/notBlosm:
#
# Name                    Version                   Build  Channel
_openmp_mutex             4.5                  7_kmp_llvm    conda-forge
aom                       3.9.1                h7bae524_0    conda-forge
backports.zstd            1.3.0           py313h48bb75e_0    conda-forge
brotli                    1.2.0                h7d5ae5b_1    conda-forge
brotli-bin                1.2.0                hc919400_1    conda-forge
brotli-python             1.2.0           py313hde1f3bb_1    conda-forge
bzip2                     1.0.8                hd037594_8    conda-forge
c-ares                    1.34.6               hc919400_0    conda-forge
ca-certificates           2026.1.4             hbd8a1cb_0    conda-forge
cairo                     1.18.4               he0f2337_1    conda-forge
certifi                   2026.1.4           pyhd8ed1ab_0    conda-forge
charset-normalizer        3.4.4              pyhd8ed1ab_0    conda-forge
contourpy                 1.3.3           py313h2af2deb_4    conda-forge
cycler                    0.12.1             pyhcf101f3_2    conda-forge
cyrus-sasl                2.1.28               ha1cbb27_0    conda-forge
dav1d                     1.2.1                hb547adb_0    conda-forge
dbus                      1.16.2               h3ff7a7c_1    conda-forge
double-conversion         3.4.0                haf25636_0    conda-forge
ffmpeg                    8.0.1           gpl_h1511fcb_109    conda-forge
font-ttf-dejavu-sans-mono 2.37                 hab24e00_0    conda-forge
font-ttf-inconsolata      3.000                h77eed37_0    conda-forge
font-ttf-source-code-pro  2.038                h77eed37_0    conda-forge
font-ttf-ubuntu           0.83                 h77eed37_3    conda-forge
fontconfig                2.15.0               h1383a14_1    conda-forge
fonts-conda-ecosystem     1                             0    conda-forge
fonts-conda-forge         1                    hc364b38_1    conda-forge
fonttools                 4.61.1          py313h7d74516_0    conda-forge
freetype                  2.14.1               hce30654_0    conda-forge
fribidi                   1.0.16               hc919400_0    conda-forge
gdk-pixbuf                2.44.4               h7542897_0    conda-forge
geos                      3.14.1               h5afe852_0    conda-forge
glslang                   16.2.0               h7cb4797_1    conda-forge
gmp                       6.3.0                h7bae524_2    conda-forge
graphite2                 1.3.14               hec049ff_2    conda-forge
h2                        4.3.0              pyhcf101f3_0    conda-forge
harfbuzz                  12.3.2               h3103d1b_0    conda-forge
hdf5                      1.14.6          nompi_had3affe_106    conda-forge
hpack                     4.1.0              pyhd8ed1ab_0    conda-forge
hyperframe                6.1.0              pyhd8ed1ab_0    conda-forge
icu                       78.2                 h38cb7af_0    conda-forge
idna                      3.11               pyhd8ed1ab_0    conda-forge
imath                     3.2.2                h3470cca_0    conda-forge
jasper                    4.2.8                hc0e5025_0    conda-forge
kiwisolver                1.4.9           py313h7add70c_2    conda-forge
krb5                      1.21.3               h237132a_0    conda-forge
lame                      3.100             h1a8c8d9_1003    conda-forge
lcms2                     2.18                 hdfa7624_0    conda-forge
lerc                      4.0.0                hd64df32_1    conda-forge
libabseil                 20250512.1      cxx17_hd41c47c_0    conda-forge
libaec                    1.1.5                h8664d51_0    conda-forge
libass                    0.17.4               hcbd7ca7_0    conda-forge
libavif16                 1.3.0                hb06b76e_2    conda-forge
libblas                   3.11.0          5_h51639a9_openblas    conda-forge
libbrotlicommon           1.2.0                hc919400_1    conda-forge
libbrotlidec              1.2.0                hc919400_1    conda-forge
libbrotlienc              1.2.0                hc919400_1    conda-forge
libcblas                  3.11.0          5_hb0561ab_openblas    conda-forge
libclang-cpp19.1          19.1.7          default_hf3020a7_7    conda-forge
libclang13                21.1.8          default_h13b06bd_2    conda-forge
libcurl                   8.18.0               he38603e_0    conda-forge
libcxx                    21.1.8               hf598326_0    conda-forge
libdeflate                1.25                 hc11a715_0    conda-forge
libedit                   3.1.20250104    pl5321hafb1f1b_0    conda-forge
libev                     4.33                 h93a5062_2    conda-forge
libexpat                  2.7.3                haf25636_0    conda-forge
libffi                    3.5.2                he5f378a_0    conda-forge
libfreetype               2.14.1               hce30654_0    conda-forge
libfreetype6              2.14.1               h6da58f4_0    conda-forge
libgcc                    15.2.0              hcbb3090_16    conda-forge
libgd                     2.3.3               h05bcc79_12    conda-forge
libgfortran               15.2.0              h07b0088_16    conda-forge
libgfortran5              15.2.0              hdae7583_16    conda-forge
libglib                   2.86.3               hfe11c1f_0    conda-forge
libhwloc                  2.12.2          default_ha3cc4f2_1000    conda-forge
libhwy                    1.3.0                h48b13b8_1    conda-forge
libiconv                  1.18                 h23cfdf5_2    conda-forge
libintl                   0.25.1               h493aca8_0    conda-forge
libjpeg-turbo             3.1.2                hc919400_0    conda-forge
libjxl                    0.11.1               h913acd8_8    conda-forge
liblapack                 3.11.0          5_hd9741b5_openblas    conda-forge
liblapacke                3.11.0          5_h1b118fd_openblas    conda-forge
libllvm19                 19.1.7               h8e0c9ce_2    conda-forge
libllvm21                 21.1.8               h8e0c9ce_0    conda-forge
liblzma                   5.8.1                h39f12f2_2    conda-forge
libmpdec                  4.0.0                h5505292_0    conda-forge
libnghttp2                1.67.0               hc438710_0    conda-forge
libntlm                   1.8                  h5505292_0    conda-forge
libogg                    1.3.5                h48c0fde_1    conda-forge
libopenblas               0.3.30          openmp_ha158390_4    conda-forge
libopencv                 4.13.0          qt6_py313h6e9e300_601    conda-forge
libopenvino               2025.4.1             h3e6d54f_1    conda-forge
libopenvino-arm-cpu-plugin 2025.4.1             h3e6d54f_1    conda-forge
libopenvino-auto-batch-plugin 2025.4.1             h2406d2e_1    conda-forge
libopenvino-auto-plugin   2025.4.1             h2406d2e_1    conda-forge
libopenvino-hetero-plugin 2025.4.1             h85cbfa6_1    conda-forge
libopenvino-ir-frontend   2025.4.1             h85cbfa6_1    conda-forge
libopenvino-onnx-frontend 2025.4.1             h7fb59aa_1    conda-forge
libopenvino-paddle-frontend 2025.4.1             h7fb59aa_1    conda-forge
libopenvino-pytorch-frontend 2025.4.1             hf6b4638_1    conda-forge
libopenvino-tensorflow-frontend 2025.4.1             hf92d75f_1    conda-forge
libopenvino-tensorflow-lite-frontend 2025.4.1             hf6b4638_1    conda-forge
libopus                   1.6.1                h1a92334_0    conda-forge
libpng                    1.6.54               h132b30e_0    conda-forge
libpq                     18.1                 h6caddbb_3    conda-forge
libprotobuf               6.31.1               h98f38fd_4    conda-forge
librsvg                   2.60.0               h5c55ec3_0    conda-forge
libspatialindex           2.1.0                h57eeb1c_0    conda-forge
libsqlite                 3.51.2               h1ae2325_0    conda-forge
libssh2                   1.11.1               h1590b86_0    conda-forge
libtiff                   4.7.1                h4030677_1    conda-forge
libusb                    1.0.29               hbc156a2_0    conda-forge
libvorbis                 1.3.7                h81086ad_2    conda-forge
libvpx                    1.15.2               ha759d40_0    conda-forge
libvulkan-loader          1.4.341.0            h3feff0a_0    conda-forge
libwebp-base              1.6.0                h07db88b_0    conda-forge
libxcb                    1.17.0               hdb1d25a_0    conda-forge
libxml2                   2.15.1               h8d039ee_1    conda-forge
libxml2-16                2.15.1               h5ef1a60_1    conda-forge
libzlib                   1.3.1                h8359307_2    conda-forge
llvm-openmp               21.1.8               h4a912ad_0    conda-forge
mapbox_earcut             1.0.3           py313h52dc412_2    conda-forge
matplotlib                3.10.8          py313h39782a4_0    conda-forge
matplotlib-base           3.10.8          py313h58042b9_0    conda-forge
munkres                   1.1.4              pyhd8ed1ab_1    conda-forge
ncurses                   6.5                  h5e97a16_3    conda-forge
networkx                  3.6.1              pyhcf101f3_0    conda-forge
numpy                     2.4.1           py313h16eae64_0    conda-forge
opencv                    4.13.0          qt6_py313h37d50ef_601    conda-forge
openexr                   3.4.4                he0ec429_1    conda-forge
openh264                  2.6.0                hb5b2745_0    conda-forge
openjpeg                  2.5.4                hbfb3c88_0    conda-forge
openjph                   0.26.0               h2a4d681_0    conda-forge
openldap                  2.6.10               hbe55e7a_0    conda-forge
openssl                   3.6.1                hd24854e_1    conda-forge
packaging                 26.0               pyhcf101f3_0    conda-forge
pango                     1.56.4               h875632e_0    conda-forge
pcre2                     10.47                h30297fc_0    conda-forge
pillow                    12.1.0          py313h45e5a15_0    conda-forge
pip                       25.3               pyh145f28c_0    conda-forge
pixman                    0.46.4               h81086ad_1    conda-forge
proj                      9.7.1                h46dec42_0    conda-forge
pthread-stubs             0.4               hd74edd7_1002    conda-forge
pugixml                   1.15                 hd3d436d_0    conda-forge
py-opencv                 4.13.0          qt6_py313h5fe9139_601    conda-forge
pyglet                    1.5.31                   pypi_0    pypi
pyparsing                 3.3.2              pyhcf101f3_0    conda-forge
pyproj                    3.7.2           py313h698103d_2    conda-forge
pysocks                   1.7.1              pyha55dd90_7    conda-forge
python                    3.13.11         hfc2f54d_100_cp313    conda-forge
python-dateutil           2.9.0.post0        pyhe01879c_2    conda-forge
python_abi                3.13                    8_cp313    conda-forge
qhull                     2020.2               h420ef59_5    conda-forge
qt6-main                  6.10.2               h9aec236_4    conda-forge
rav1e                     0.7.1                h0716509_3    conda-forge
readline                  8.3                  h46df422_0    conda-forge
requests                  2.32.5             pyhcf101f3_1    conda-forge
rtree                     1.4.1              pyh11ca60a_0    conda-forge
scipy                     1.17.0          py313hc753a45_0    conda-forge
sdl2                      2.32.56              h248ca61_0    conda-forge
sdl3                      3.4.0                h6fa9c73_0    conda-forge
shaderc                   2025.5               hf31e910_1    conda-forge
shapely                   2.1.2           py313h10b2fc2_2    conda-forge
six                       1.17.0             pyhe01879c_1    conda-forge
snappy                    1.2.2                hada39a4_1    conda-forge
spirv-tools               2026.1               h4ddebb9_0    conda-forge
sqlite                    3.51.2               h77b7338_0    conda-forge
svt-av1                   3.1.2                h12ba402_0    conda-forge
tbb                       2022.3.0             h4ddebb9_2    conda-forge
tk                        8.6.13               h892fb3f_3    conda-forge
tornado                   6.5.4           py313h6535dbc_0    conda-forge
triangle                  1.6                  h7ab814d_6    conda-forge
trimesh                   4.11.0             pyh7b2049a_0    conda-forge
tzdata                    2025c                hc9c84f9_1    conda-forge
urllib3                   2.6.3              pyhd8ed1ab_0    conda-forge
x264                      1!164.3095           h57fd34a_2    conda-forge
x265                      3.5                  hbc6ce65_3    conda-forge
xatlas                    0.0.11                   pypi_0    pypi
xorg-libxau               1.0.12               hc919400_1    conda-forge
xorg-libxdmcp             1.1.5                hc919400_1    conda-forge
zlib-ng                   2.3.2                hed4e4f5_1    conda-forge
zstd                      1.5.7                hbf9d68e_6    conda-forge
